<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dullfan.system.mappers.ConfigMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.dullfan.system.entity.po.Config">
		<!--参数主键-->
		<id column="config_id" property="configId"/>
		<!--参数名称-->
		<result column="config_name" property="configName"/>
		<!--参数键名-->
		<result column="config_key" property="configKey"/>
		<!--参数键值-->
		<result column="config_value" property="configValue"/>
		<!--系统内置（Y是 N否）-->
		<result column="config_type" property="configType"/>
		<!--创建者-->
		<result column="create_by" property="createBy"/>
		<!--创建时间-->
		<result column="create_time" property="createTime"/>
		<!--更新者-->
		<result column="update_by" property="updateBy"/>
		<!--更新时间-->
		<result column="update_time" property="updateTime"/>
		<!--备注-->
		<result column="remark" property="remark"/>
	</resultMap>

	<!--通用查询列-->
	<sql id="base_column_list">
				config_id,
				config_name,
				config_key,
				config_value,
				config_type,
				create_by,
				create_time,
				update_by,
				update_time,
				remark
	</sql>

	<!--基本查询条件-->
	<sql id="base_query_condition">
		<if test="query.configId != null ">
			and config_id = #{query.configId}
		</if>
		<if test="query.configName != null and query.configName != ''">
			and config_name = #{query.configName}
		</if>
		<if test="query.configKey != null and query.configKey != ''">
			and config_key = #{query.configKey}
		</if>
		<if test="query.configValue != null and query.configValue != ''">
			and config_value = #{query.configValue}
		</if>
		<if test="query.configType != null and query.configType != ''">
			and config_type = #{query.configType}
		</if>
		<if test="query.createBy != null and query.createBy != ''">
			and create_by = #{query.createBy}
		</if>
		<if test="query.createTime != null ">
			and create_time = #{query.createTime}
		</if>
		<if test="query.updateBy != null and query.updateBy != ''">
			and update_by = #{query.updateBy}
		</if>
		<if test="query.updateTime != null ">
			and update_time = #{query.updateTime}
		</if>
		<if test="query.remark != null and query.remark != ''">
			and remark = #{query.remark}
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.configNamefuzzy != null and query.configNamefuzzy != ''">
			and config_name like concat('%',#{query.configNamefuzzy},'%')
		</if>
		<if test="query.configKeyfuzzy != null and query.configKeyfuzzy != ''">
			and config_key like concat('%',#{query.configKeyfuzzy},'%')
		</if>
		<if test="query.configValuefuzzy != null and query.configValuefuzzy != ''">
			and config_value like concat('%',#{query.configValuefuzzy},'%')
		</if>
		<if test="query.configTypefuzzy != null and query.configTypefuzzy != ''">
			and config_type like concat('%',#{query.configTypefuzzy},'%')
		</if>
		<if test="query.createByfuzzy != null and query.createByfuzzy != ''">
			and create_by like concat('%',#{query.createByfuzzy},'%')
		</if>
		<if test="query.createTimeStart != null ">
			and create_time >= #{query.createTimeStart}
		</if>
		<if test="query.createTimeEnd != null ">
			<![CDATA[and create_time < #{query.createTimeEnd}]]>
		</if>
		<if test="query.updateByfuzzy != null and query.updateByfuzzy != ''">
			and update_by like concat('%',#{query.updateByfuzzy},'%')
		</if>
		<if test="query.updateTimeStart != null ">
			and update_time >= #{query.updateTimeStart}
		</if>
		<if test="query.updateTimeEnd != null ">
			<![CDATA[and create_time < #{query.updateTimeEnd}]]>
		</if>
		<if test="query.remarkfuzzy != null and query.remarkfuzzy != ''">
			and remark like concat('%',#{query.remarkfuzzy},'%')
		</if>
	</sql>

	<!--通用查询条件列-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM sys_config <include refid="query_condition"/>
		<if test="query.orderBy!=null"> order by ${query.orderBy} </if>
		<if test="query.simplePage!=null"> limit ${query.simplePage.start},${query.simplePage.end} </if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		select count(1) FROM sys_config
		<include refid="query_condition"/>
	</select>

	<!--插入，匹配有值的字段-->
	<insert id="insert" parameterType="com.dullfan.system.entity.po.Config"  useGeneratedKeys="true" keyProperty="configId">
		insert into sys_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.configId != null">
				config_id,
			</if>
			<if test="bean.configName != null and bean.configName != ''">
				config_name,
			</if>
			<if test="bean.configKey != null and bean.configKey != ''">
				config_key,
			</if>
			<if test="bean.configValue != null and bean.configValue != ''">
				config_value,
			</if>
			<if test="bean.configType != null and bean.configType != ''">
				config_type,
			</if>
			<if test="bean.createBy != null and bean.createBy != ''">
				create_by,
			</if>
			<if test="bean.createTime != null">
				create_time,
			</if>
			<if test="bean.updateBy != null and bean.updateBy != ''">
				update_by,
			</if>
			<if test="bean.updateTime != null">
				update_time,
			</if>
			<if test="bean.remark != null and bean.remark != ''">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.configId != null">
				#{bean.configId},
			</if>
			<if test="bean.configName != null and bean.configName != ''">
				#{bean.configName},
			</if>
			<if test="bean.configKey != null and bean.configKey != ''">
				#{bean.configKey},
			</if>
			<if test="bean.configValue != null and bean.configValue != ''">
				#{bean.configValue},
			</if>
			<if test="bean.configType != null and bean.configType != ''">
				#{bean.configType},
			</if>
			<if test="bean.createBy != null and bean.createBy != ''">
				#{bean.createBy},
			</if>
			<if test="bean.createTime != null">
				#{bean.createTime},
			</if>
			<if test="bean.updateBy != null and bean.updateBy != ''">
				#{bean.updateBy},
			</if>
			<if test="bean.updateTime != null">
				#{bean.updateTime},
			</if>
			<if test="bean.remark != null and bean.remark != ''">
				#{bean.remark},
			</if>
		</trim>
	</insert>

	<!--批量插入-->
	<insert id="insertBatch">
		INSERT INTO sys_config (config_name,config_key,config_value,config_type,create_by,create_time,update_by,update_time,remark)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.configName},#{item.configKey},#{item.configValue},#{item.configType},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark})
		</foreach>
	</insert>


	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.dullfan.system.entity.po.Config">
		UPDATE sys_config
		<set>
			<if test="bean.configName != null and bean.configName != ''">
				config_name = #{bean.configName},
			</if>
			<if test="bean.configKey != null and bean.configKey != ''">
				config_key = #{bean.configKey},
			</if>
			<if test="bean.configValue != null and bean.configValue != ''">
				config_value = #{bean.configValue},
			</if>
			<if test="bean.configType != null and bean.configType != ''">
				config_type = #{bean.configType},
			</if>
			<if test="bean.createBy != null and bean.createBy != ''">
				create_by = #{bean.createBy},
			</if>
			<if test="bean.createTime != null">
				create_time = #{bean.createTime},
			</if>
			<if test="bean.updateBy != null and bean.updateBy != ''">
				update_by = #{bean.updateBy},
			</if>
			<if test="bean.updateTime != null">
				update_time = #{bean.updateTime},
			</if>
			<if test="bean.remark != null and bean.remark != ''">
				remark = #{bean.remark},
			</if>
		</set>
		<include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		DELETE FROM sys_config
		<include refid="query_condition" />
	</delete>

	<!--根据ConfigId查询-->
	<select id="selectByConfigId" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM sys_config WHERE config_id = #{configId}
	</select>

	<!--根据ConfigId删除-->
	<delete id="deleteByConfigId">
		DELETE FROM sys_config WHERE config_id = #{configId}
	</delete>

	<!--根据ConfigId批量删除-->
	<delete id="deleteByConfigIdBatch">
		DELETE FROM sys_config WHERE config_id
		IN
		<foreach collection="list" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</delete>
	<!--根据ConfigKey查询-->
	<select id="selectByConfigKey" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM sys_config WHERE config_key = #{configKey}
	</select>

	<!--根据ConfigKey删除-->
	<delete id="deleteByConfigKey">
		DELETE FROM sys_config WHERE config_key = #{configKey}
	</delete>

</mapper>


